:root {
<<<<<<< HEAD
  font-family: 'DM Sans', system-ui, -apple-system, sans-serif;
=======
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
>>>>>>> dev
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

<<<<<<< HEAD
  color: #0a0a0a;
  background-color: #fff;
=======
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
>>>>>>> dev

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
<<<<<<< HEAD
  color: #333;
  text-decoration: inherit;
  transition: color 0.3s ease;
}
a:hover {
  color: #0a0a0a;
=======
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
>>>>>>> dev
}

body {
  margin: 0;
<<<<<<< HEAD
=======
  display: flex;
  place-items: center;
>>>>>>> dev
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
<<<<<<< HEAD
  background-color: #0a0a0a;
  color: #fff;
=======
  background-color: #1a1a1a;
>>>>>>> dev
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
<<<<<<< HEAD
  background-color: #333;
=======
  border-color: #646cff;
>>>>>>> dev
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

<<<<<<< HEAD
html {
  scroll-behavior: smooth;
=======
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
>>>>>>> dev
}
